{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Система нормоконтроля студенческих работ</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}">
</head>
<body>
    <header>
        <div class="wrapper">
        <a href="#"><img src="{% static 'images/logo.png' %}" alt="Нормоконтроль студенческих работ" class="logo"></a>
        </div>
    </header>
    <main>
        <div class="wrapper">
        <h1>Редактирование документов WORD</h1>
        <h2>Оформите свои текстовые документы WORD в соответствии с актуальными ГОСТами</h2>
        {% block content %}
        <form method="POST" action="/" enctype="multipart/form-data" id="upload-form">
        {% csrf_token %}
        <input type="file" id="upload-file" name="document" hidden="hidden" multiple>
        <span></span>
        <button type="submit" id="update-btn">Редактировать</button>
        <div id="upload-btn"><img src="{% static 'images/upload-button.png' %}" id="download-image" alt="Добавить файлы" title="Добавить файлы"></div>
        </form>
        {% endblock %}
        </div>   
    </main>
    <script type="text/javascript" src="{% static 'script.js' %}"></script>
</body>
</html>