{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Система нормоконтроля студенческих работ</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}">
</head>
<body>
    <header>
        <div class="wrapper">
        <a href="#"><img src="{% static 'images/logo.png' %}" alt="Нормоконтроль студенческих работ" class="logo"></a>
        </div>
    </header>
    <main>
        <div class="wrapper">
            <h1>Редактирование документов WORD</h1>
            <h2>Оформите свои текстовые документы DOCX в соответствии с актуальными ГОСТами</h2>
            {% block content %}
            <form method="POST" action="/" enctype="multipart/form-data" id="upload-form" accept-charset="UTF-8">
                {% csrf_token %}
                <div class="file-drop-area">
                    <span class="fake-btn">Выбрать документы</span>
                    <span class="file-msg">или перетащите их сюда</span>
                    <input class="file-input" type="file" name="document" multiple>
                </div>
                <span class="rules-open">Правила пользования</span>
                <div class="rules-fade">
                    <div class="rules">
                        <span class="rules-close">Закрыть</span>
                        <ul class="rules-list">
                            <li>Текстовый документ должен быть создан <br> <strong>в программе Microsoft Word</strong> (не через проводник!)</li>
                            <li>Редактируются только текстовые документы <strong>формата DOCX</strong>!</li>
                            <li>Титульный лист и содержание <strong>не редактируются</strong> (их необходимо убрать из документа перед началом редактирования).</li>
                        </ul>
                    </div>
                </div>
                <button type="submit" id="update-btn">Редактировать</button>
            </form>
            {% endblock %}
        </div>
    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'script.js' %}"></script>
    <script type="text/javascript" src="{% static 'rules.js' %}"></script>
</body>
</html>