{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Система нормоконтроля студенческих работ</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <header>
        <div class="wrapper">
        <a href="#"><img src="{% static 'logo.png' %}" alt="Нормоконтроль студенческих работ" class="logo"></a>
        </div>
    </header>
    <main>
        <div class="wrapper">
        <form action="script.py" method="POST">
        <h1>Редактирование документов WORD</h1>
        <h2>Оформите свои текстовые документы WORD в соответствии с актуальными ГОСТами</h2>
        <input type="file" id="upload-file" name="filename" hidden="hidden" multiple="multiple">
        <a id="upload-btn">Выбрать файлы</a><br><br><br>
        <input type="submit" value="Редактировать">
        <span id="upload-text"></span>
        </form>
        </div>
    </main>
    <script type="text/javascript" src="{% static 'script.js' %}"></script>
    <script type="text/python" src="{% static 'script.py' %}"></script>
</body>
</html>