body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #fff;
    background-color: #00559d;
}
.error {
    width: 680px;
    height: 400px;
    background: url(images/error-man.jpg) no-repeat;
    margin: 104px auto auto auto;
}
.error-info {
    width: 400px;
}
h1 {
    font-size: 46px;
    font-weight: 800;
    margin-bottom: 20px;
}
p {
    margin: 0;
    text-align: center;
}