body {
    background-color: #00559d;
    margin: 0;
    padding: 0;
    color: #fff; 
    font-family: 'Open Sans', sans-serif;
}
.wrapper {
    max-width: 740px;
    text-align: center;
    margin: 0 auto;
}
.logo {
    display: block;
    margin-top: 104px;
    margin-left: auto;
    margin-right: auto;
}
h1 {
   font-weight: 600;
   font-size: 42px;
   margin-top: 66px;
   margin-bottom: 8px;
}
h2 {
    font-size: 22px;
    font-weight: 400;
    margin: 0 auto 94px;
    line-height: 32px;
}
#upload-form {
    display: inline-flex;
}
#upload-btn {
    width: 68px;
    height: 68px;
    background: #01b6fd;
    border-radius: 8px;
    margin-left: 10px;
    cursor: pointer;
    border: 0;
}
#download-image {
    padding-top: 5px;
}
#update-btn {
    color: #fff;
    background: #01b6fd;
    align-items: center;
    justify-content: center;
    padding: 18px 26px;
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
    border-radius: 8px;
    cursor: pointer;
    border: 0;
}
@media (max-width: 512px) {
    .logo {
        margin-top: 50px;
        width: 320px;
    }
}
@media (max-width: 340px) {
    h1 {
        font-size: 32px;
    }
    #update-btn{
        font-size: 24px;
        padding: 16px 38px;
    }
}